
.avatar__popup {
  opacity: 1;
  color: rgb(249, 249, 249);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 280px;
  border-radius: 2px;
  padding: 14px;
  background: rgb(44, 48, 51);
  box-shadow: 2px 2px 10px rgb(102, 102, 102);
}

/* popup top triangle */
.avatar__popup::before {
  content: '';
  position: absolute;
  top: -9px;
  left: 50%;
  -webkit-transform: rotate(360deg);
  transform: translateX(-50%);
  border-style: solid;
  border-width: 0 8px 10px 8px;
  border-color: transparent transparent rgb(44, 48, 51) transparent;
  z-index: 2;
}
