.avatar__single {
  position: relative;
  display: inline-block;
}

.avatar__single img {
  margin-right: 4px;
  border: 3px solid rgba(0,0,0,0);
}

.avatar__single:hover img {
  border: 3px solid rgb(155, 160, 163);
}

.avatar__single--loading img {
  margin-right: 4px;
  border: 3px solid rgba(0,0,0,0);
}

.avatar__single.avatar__single--loading:hover img,
.avatar__single--loading:active img {
  border: 3px solid rgba(0,0,0,0);
}


/* Avatar hover overlay */
.avatar__single:hover .overlay {
  opacity: 0.2;
}

.overlay {
  opacity: 0;
  position: absolute;
  width: 60px;
  height: 60px;
  top: 3px;
  left: 3px;
  border-radius: 100%;
  background: rgb(122, 161, 178);
  z-index: 2;
}

.avatar__popup-choices {
  text-align: left;
}

.current img {
  border: 3px solid rgb(122, 161, 178);
}

.spinner,
.spinner:hover {
  position: absolute;
  height: 60px;
  width: 60px;
  top: 0;
  left: 0;
  border-radius: 100%;
  border: 3px solid rgb(122, 161, 178);
  border-top: 3px solid transparent;
  transform: rotate(360deg);
  animation: clockwise 1.3s infinite linear;
}

@keyframes clockwise {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
